<div id="<%= dom_id movie %>">
  <p>
    <strong>Title:</strong>
    <%= movie.title %>
  </p>

  <p>
    <strong>Release year:</strong>
    <%= movie.release_year %>
  </p>

  <p>
    <strong>Synopse:</strong>
    <%= movie.synopse %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= movie.country %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= movie.duration %>
  </p>

  <p>
    <strong>Movie director:</strong>
    <%= movie.movie_director.name %>
  </p>

  <p>
    <strong>Movie genre:</strong>
    <%= movie.movie_genre.name %>
  </p>

</div>
