<p style="color: green"><%= notice %></p>

<h1>Movies</h1>

<%= link_to "New movie", new_movie_path, class: 'btn btn btn-primary' %>

<div id="movies" class="my-5 d-flex flex-wrap justify-content-between m-3" style="max-width: 800px">
  <% @movies.each do |movie| %>
    <div>
        <p>
          <strong>Title:</strong>
          <%= movie.title %>
        </p>
        <p>
          <strong>Release Year:</strong>
          <%= movie.release_year %>
        </p>
        <p class="mb-4">
          <%= link_to "Show this movie", movie, class: 'btn btn-info'%>
        </p>
    </div>
  <% end %>
</div>

