<div id="<%= dom_id movie_director %>">
  <p>
    <strong>Name:</strong>
    <%= movie_director.name %>
  </p>

  <p>
    <strong>Nationality:</strong>
    <%= movie_director.nationality %>
  </p>

  <p>
    <strong>Birthdate:</strong>
    <%= movie_director.birth_date %>
  </p>

  <p>
    <strong>Favorite movie genre:</strong>
    <%= movie_director.movie_genre.name %>
  </p>

</div>
